<tr>
  <td><%= link_to developer.name, :action => 'show', :id => developer %></td>
  <td><%= link_to 'Editar', :action => 'edit', :id => developer %></td>
  <td>
    <%= button_to 'Eliminar', { :action => 'destroy', :id => developer },
        data: { confirm: "¿Está seguro de que quiere eliminar el desarrollador #{developer.name}?" } %>
  </td>
</tr>
