<table>
  <tr>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  <%= render :partial => 'developer', :collection => @developers %>
</table>

<p><%= link_to 'Añadir un nuevo desarrollador', :action => 'new' %></p>
